@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    string leadbannerLinkUrl = string.Empty;
    var leadbannerLink = Umbraco.Content(CurrentPage.leadbannerLink);
    string bannerDesktopUrl = CurrentPage.GetCropUrl("leadbannerImage", "Lead banner desktop crop");
    string bannerMobileUrl = CurrentPage.GetCropUrl("leadbannerImage", "Lead banner mobile crop");
    if (leadbannerLink != null)
    {
        leadbannerLinkUrl = leadbannerLink.Url;
    }
}

<section class="lead-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Umbraco.Field("#Site.Leadbanner.Titel")</h1>
                <a href="@leadbannerLinkUrl" class="btn btn-leadbanner btn-lg text-uppercase" role="button">@Umbraco.Field("#Site.Leadbanner.Link")</a>
            </div>
        </div>
    </div>
</section>
<section class="arrow"></section>
	
<div>
	@CurrentPage.GetGridHtml("bodyText")
</div>

@section stylesheets
{
<style>
    section.lead-banner {
        background-image: url('@Html.Raw(bannerDesktopUrl)');
    }

    @@media screen and (max-width:800px) {
        section.lead-banner {
            background-image: url('@Html.Raw(bannerMobileUrl)');
        }
    }
</style>
}